@using Coursework.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Instruction>


@foreach (Instruction m in Model)
     {
<div id="wrapper">
    <h2>
        @m.InstructionName
        @if (m.UserId == User.Identity.GetUserId())
        {
            using (Html.BeginForm("RedactInstruction", "Home", new { id = m.Id }, FormMethod.Post, new { style = "display: inline-block; margin-right: 5px;" }))
            {
                <button type="submit" class="btn btn-default btn-mine">
                    <span class="fi-pencil size-27"></span>
                </button>
            }
            using (Ajax.BeginForm("DeleteInstruction", new { id = m.Id }, new AjaxOptions { }, new { style = "display: inline-block; margin-right: 5px;" }))
            {
                <button type="submit" class="btn btn-default btn-mine" onclick=" funcRefresh() ">
                    <span class="fi-x size-27"></span>
                </button>
            }
            using (Html.BeginForm("RedactInstruction", "Home", new { id = m.Id }, FormMethod.Post, new { style = "display: inline-block; margin-right: 5px;" }))
            {
                <button type="submit" class="btn btn-default btn-mine">
                    <span class="fi-page-export-pdf size-27"></span>
                </button>
            }
            using (Html.BeginForm("RedactInstruction", "Home", new { id = m.Id }, FormMethod.Post, new { style = "display: inline-block; margin-right: 5px;" }))
            {
                <button type="submit" class="btn btn-default btn-mine">
                    <span class="fi-social-youtube size-27"></span>
                </button>
            }
        }
        
    </h2>
    <div id="infa">
        <h3>Информация о инструкции</h3>

        <div class="display-label">
            <b>Категория</b>
        </div>
        <ul>
            @foreach (Category c in m.Categories)
                {
                <li>@c.СategoryName</li>
            }
        </ul>

        <br />
        <div class="display-label">
            <b>Автор</b>
        </div>
        <div class="display-field">
            @m.Author
        </div>
        <br />
        <div class="display-label">
            <b>Тэги</b>
        </div>
        <ul>
            @foreach (Tag c in m.Tags)
            {
                <li>@c.TagName</li>
            }
        </ul>
        <div class="display-field">
            Лайки
            @*<a class="fi-like size-27 none" style="color: #000000"></a>
            <a class="fi-dislike size-27 none" style="color: #000000"></a>*@
            <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></a>
            <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    @*@m.NumberOfLikes.ToString()*@
        </div>
        <br />
        <div class="display-label">
            <b>Создана</b>
        </div>
        <div class="display-field">
            @m.DateOfCreation.ToString()
        </div>
        <br />
        <div class="display-label">
            <b>Комментарии</b>
        </div>
        <ul>
            @foreach (Comment c in m.Comments)
            {
                <p>@c.UserId: </p>
                        <p>@c.Contetnt</p>
            }
        </ul>

    </div>
    <div id="stepsi">
        @if (m.Steps.Count() > 0)
        {
            <ul class="sortable" id="steps">
                @foreach (Step step in m.Steps.OrderBy(x =>x.NumberOfStep))
                {
                    <li class="ui-state-default" style="width: 150px; height: 150px; background: #e6e6fa">
                        <a href="#" class="thumbnail">
                            <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" style="width: 150px; height: 150px;" />
                        </a>
                    <strong><span>@step.NumberOfStep</span>)@step.StepName</strong>
</li>
                }
            </ul>
        }
        else
        {
            <h3>У этой инструкции еще нет шагов.</h3>
        }
    </div>
</div>
     }
